$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);

/*gobal style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.2%;
}

body {
  font-family: "Karla", sans-serif;
  width: 1440px;
  margin: 20rem auto;
  background-color: $Light-Gray;
}

.wrapper {
  width: 48%;
  margin: auto;
  box-shadow: 0 0 10px $Grayish-Blue;
  border-radius: 2rem;
}

h3 {
  font-size: 2rem;
  margin: 2rem 0;
  color: white;
}

/*benefits section*/

.benefits {
  margin: auto;
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 2rem 2rem 0 0;

  h2 {
    font-size: 3rem;
    margin: 3rem 0;
    font-weight: 700;
    color: $Cyan;
  }

  h3 {
    font-size: 2rem;
    margin: 2rem 0;
    color: $Bright-Yellow;
  }

  P {
    font-size: 1.8rem;
    margin: 2rem 0;
    line-height: 3.4rem;
    color: $Grayish-Blue;
  }
}

/*bottom section*/

.start {
  display: flex;
}

.sign,
.why {
  flex: 1 1 20rem;
  padding: 2rem 4rem;
}

.sign {
  display: flex;
  flex-direction: column;
  background-color: $Cyan;
  border-bottom-left-radius: 2rem;

  .price {
    display: flex;
    align-items: center;
    font-size: 4rem;
    margin: 0;
    color: white;

    span {
      font-size: 1.6rem;
      margin-left: 1rem;
      color: $Light-Gray;
      opacity: 0.6;
    }
  }

  h2 {
    font-size: 1.6rem;
    margin: 1rem 0 3rem 0;
    font-weight: 200;
    color: $Light-Gray;
  }

  h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: white;
  }

  button {
    font-size: 1.8rem;
    padding: 1.6rem 1rem;
    color: white;
    background: $Bright-Yellow;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
  }
}

.why {
  display: flex;
  flex-direction: column;
  background-color: $Cyan;
  opacity: 0.7;
  border-bottom-right-radius: 2rem;

  h4 {
    font-size: 1.6rem;
    color: $Light-Gray;
    line-height: 2.4rem;
    opacity: 0.5;
  }
}

footer {
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 43%;
  }

  body {
    width: 90%;
    margin: 10rem auto;
  }

  .wrapper {
    width: 100%;
    margin: auto;
  }

  .start {
    flex-direction: column;

    .why,
    .sgin {
      flex: none;
    }
  }

  .sign {
    border-radius: 0;
  }

  .why {
    border-radius: 0 0 2rem 2rem;
  }
}
